{% extends 'shared/form_base.html' %}

{% block title %}Agregar Producto - Cosmetics Store{% endblock %}

{% block form_icon %}fas fa-plus-circle{% endblock %}
{% block form_title %}AGREGAR PRODUCTO{% endblock %}
{% block form_description %}Añade un nuevo producto cosmético a nuestra colección{% endblock %}

{% block form_attrs %}enctype="multipart/form-data" class="needs-validation" novalidate{% endblock %}

{% block form_fields %}
    {% include 'shared/form_field.html' with field=form.nombre icon="fas fa-palette" color="text-cosmetics-pink" %}
    
    {% include 'shared/form_field.html' with field=form.descripcion icon="fas fa-align-left" color="text-cosmetics-gold" %}
    
    <div class="row">
        {% include 'shared/form_field.html' with field=form.precio icon="fas fa-dollar-sign" color="text-cosmetics-rose-gold" col_class="col-md-6 mb-3" %}
        {% include 'shared/form_field.html' with field=form.iva icon="fas fa-percent" color="text-cosmetics-charcoal" col_class="col-md-6 mb-3" %}
    </div>
    
    {% include 'shared/image_field.html' with field=form.imagen %}
{% endblock %}

{% block submit_text %}Guardar Producto{% endblock %}
{% block cancel_url %}{% url 'productos:list' %}{% endblock %}