{% extends 'shared/form_base.html' %}

{% block title %}Editar Trabajador - Cosmetics Store{% endblock %}

{% block form_icon %}fas fa-user-edit{% endblock %}
{% block form_title %}EDITAR TRABAJADOR{% endblock %}
{% block form_description %}Actualiza la información de {{ object.nombre }} {{ object.apellido }}{% endblock %}

{% block form_attrs %}enctype="multipart/form-data" class="needs-validation" novalidate{% endblock %}

{% block form_fields %}
    <div class="row">
        {% include 'shared/form_field.html' with field=form.nombre icon="fas fa-user" color="text-cosmetics-pink" col_class="col-md-6 mb-3" %}
        {% include 'shared/form_field.html' with field=form.apellido icon="fas fa-user" color="text-cosmetics-pink" col_class="col-md-6 mb-3" %}
    </div>
    
    {% include 'shared/form_field.html' with field=form.correo icon="fas fa-envelope" color="text-cosmetics-gold" %}
    
    <div class="row">
        {% include 'shared/form_field.html' with field=form.cedula icon="fas fa-id-card" color="text-cosmetics-rose-gold" col_class="col-md-6 mb-3" %}
        {% include 'shared/form_field.html' with field=form.codigo_empleado icon="fas fa-badge-check" color="text-cosmetics-charcoal" col_class="col-md-6 mb-3" %}
    </div>
    
    {% include 'shared/image_field.html' with field=form.imagen object=object %}
{% endblock %}

{% block submit_text %}Actualizar Trabajador{% endblock %}
{% block cancel_url %}{% url 'trabajadores:list' %}{% endblock %}